doctype html
html
    head
        meta(charset="utf-8")
        title 스트로베리콘 판매 매장
    body
        div(id="container")
            h1 스트로베리콘 판매 매장을 찾아보자
            input(type="text",id="store",placeholder="매장명을 입력하세요")
            button(id="search") 검색
            div(id="storelist")
        script(src="search.js")